%flex-row {
  display: flex;
  justify-content: space-between;
}

.ItemCard {
  padding: 5px;
  margin: 10px 0;
  @extend %flex-row;
  max-width: 411px;
  max-height: 120px;
  background: #ffffff;
  border: 0.75px solid #ececec;
  border-radius: 7px;
  .imageContainer {
    width: 104px;
    height: 104px;
    img {
      width: 100%;
    }
  }
  .contentContainer {
    width: 285px;
    .description {
      width: 267px;
      min-height: 42px;
      font-size: 14px;
      font-weight: 600;
    }
    .bottomContainer {
      @extend %flex-row;
      align-items: end;
      .quantityPriceContainer {
        .quantity {
          padding-top: 5px;
          max-width: 210px;
          min-height: 21px;
          font-size: 11px;
          font-weight: 600;
        }
        .currentPrice {
          margin: 0;
          padding-top: 5px;
          max-width: 181px;
          min-height: 34px;
          font-size: 20px;
          font-weight: 600;
          color: var(--secondary-color);
          .currency {
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
      .removeBtnContainer {
        padding-bottom: 15px;
        .removeBtn {
          width: 80px;
          height: 24px;
          background: #fff200 0% 0% no-repeat padding-box;
          border-radius: 12px;
          border: none;
          font-size: 10px;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}
