.footerMainContainer .footerUpper, .footerMainContainer .footerUpper .rightContainer .info, .footerMainContainer .footerBottom, .footerMainContainer .footerBottom .poweredByContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerContainer {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .footerContainer {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .footerContainer {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .footerContainer {
    width: 1170px;
  }
}

.footerMainContainer {
  background-color: #3c3c3b;
}

.footerMainContainer .footerContainer {
  padding-top: 35px;
  padding-bottom: 15px;
}

.footerMainContainer .footerUpper {
  border-bottom: 1px solid #666565;
  padding-bottom: 25px;
}

.footerMainContainer .footerUpper .leftContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 20px;
  border-right: 1px solid #666565;
  max-width: 494px;
}

.footerMainContainer .footerUpper .leftContainer .imageContainer {
  max-width: 220px;
  max-height: 57px;
}

.footerMainContainer .footerUpper .leftContainer .imageContainer img {
  width: 100%;
  height: 100%;
}

.footerMainContainer .footerUpper .leftContainer .leftTextContainer {
  margin-top: 35px;
  width: 100%;
  overflow-wrap: break-word;
  height: 252px;
}

.footerMainContainer .footerUpper .leftContainer .leftTextContainer .text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

.footerMainContainer .footerUpper .rightContainer {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-left: 30px;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .searchBoxHeader {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input {
  background-color: white;
  border-radius: 24px;
  width: 576px;
  height: 48px;
  position: relative;
  height: 40px;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input input {
  position: absolute;
  border-style: none;
  border-radius: 200px;
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  left: 15px;
  font-size: 16px;
  background: #ffffff;
  border-radius: 24px;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input input::-webkit-input-placeholder {
  color: var(--secondary-color);
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input input:-ms-input-placeholder {
  color: var(--secondary-color);
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input input::-ms-input-placeholder {
  color: var(--secondary-color);
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input input::placeholder {
  color: var(--secondary-color);
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input .subscribeBtn {
  background-color: var(--primary-color);
  cursor: pointer;
  width: 116px;
  height: 34px;
  border-radius: 19px;
  z-index: 10;
  position: absolute;
  top: 3px;
  right: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 10px 0 15px;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input .subscribeBtn .textContainer {
  margin: auto 0;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input .subscribeBtn .textContainer .text {
  color: black;
  font-size: 10px;
  font-weight: 500;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input .subscribeBtn .imageContainer {
  margin: auto 0;
  width: 21px;
  height: 21px;
}

.footerMainContainer .footerUpper .rightContainer .searchBox .input .subscribeBtn .imageContainer img {
  width: 100%;
}

.footerMainContainer .footerUpper .rightContainer .info {
  margin-top: 25px;
}

.footerMainContainer .footerUpper .rightContainer .info .contactsContainer {
  padding-right: 140px;
  border-right: 1px solid #666565;
}

.footerMainContainer .footerUpper .rightContainer .info .contactsContainer .contants {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.footerMainContainer .footerUpper .rightContainer .info .contactsContainer .contants li {
  font-size: 16px;
  color: white;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 12px;
}

.footerMainContainer .footerUpper .rightContainer .info .socialMediaContainer {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.footerMainContainer .footerUpper .rightContainer .info .socialMediaContainer .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
}

.footerMainContainer .footerUpper .rightContainer .info .socialMediaContainer .socialMedia .imageContainer {
  width: 33px;
  height: 33px;
  margin: auto;
}

.footerMainContainer .footerUpper .rightContainer .info .socialMediaContainer .socialMedia .imageContainer img {
  width: 100%;
}

.footerMainContainer .footerUpper .rightContainer .info .socialMediaContainer .socialMedia .textContainer {
  margin: auto;
}

.footerMainContainer .footerUpper .rightContainer .info .socialMediaContainer .socialMedia .textContainer .text {
  color: white;
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 400;
}

.footerMainContainer .footerBottom {
  margin-top: 25px;
}

.footerMainContainer .footerBottom .copyrights {
  font-size: 16px;
  font-weight: 300;
  color: white;
}

.footerMainContainer .footerBottom .payment {
  margin: auto;
}

.footerMainContainer .footerBottom .payment img {
  margin: 0 5px;
}

.footerMainContainer .footerBottom .poweredByContainer {
  margin: auto 0;
}

.footerMainContainer .footerBottom .poweredByContainer .powerdBy {
  color: white;
  margin: 0 10px 0 0;
}

.footerMainContainer .footerBottom .poweredByContainer .imageContainer {
  width: 100px;
  height: 19px;
}

.footerMainContainer .footerBottom .poweredByContainer .imageContainer img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=footer.css.map */