@import "../helper";

%flex-row {
  display: flex;
  justify-content: space-between;
}

.starsMainContainer {
  margin: auto 0;
  @extend %flex-row;
  width: 130px;
  .starsContainer {
    width: 21px;
    height: 20px;
    .stars {
      width: 100%;
      height: 100%;
    }
  }
}
